@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani-Light.ttf') format('truetype');
  src: local('Roboto'), local('Roboto-Light');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani-Regular.ttf') format('truetype');
  src: local('Roboto'), local('Roboto-Regular');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
  src: local('Roboto'), local('Roboto-Medium');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani-SemiBold.ttf') format('truetype');
  src: local('Roboto'), local('Roboto-SemiBold');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani-Bold.ttf') format('truetype');
  src: local('Roboto'), local('Roboto-Bold');
  font-weight: 700;
  font-style: normal;
}
