:root {
  --secondary: #333;

  --white: #fff;
  --black: #111111;
  --light-blue: #1aa2f9;

  --form-blue: #00b1ff;
  --form-gray: #f0f0f0;
  --form-dark-gray: #cecece;

  --text-primary: #fff;
  --text-secondary: #888;
  --text-tertiary: #001334;
  --link-primary: #1aa2f9;

  --sky-blue: #00b1ff;
  --light-green: #22c58b;
  --red: #ec3844;
  --orange: #ffab5a;

  --border-primary: #e0e5ec;
  --border-secondary: #707070;

  --background-primary: #f8f8f8;
  --background-secondary: #f1f1f6;
  --background-tertiary: #525257;
  --background-quaternary: #1e2e39;

  --outline-primary: rgba(82, 82, 87, 0.2);

  --table-background: #fafbfc;
}
